# LangChain Core
langchain
langchain-core


langchain-google-genai
google-generativeai
langchain-groq

# Hugging Face Integration
langchain-huggingface
huggingface-hub

# Environment Variable Management
python-dotenv

langgraph